
@namespace "http://www.w3.org/1998/Math/MathML";
math {
    -moz-float-edge: margin-box;
    display: inline;
    font-family: MathJax_Main,STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
    font-size: inherit;
    font-style: normal;
    text-rendering: optimizelegibility;
}
math[mode="display"], math[display="block"] {
    display: block;
    text-align: -moz-center;
}
math[display="inline"] {
    display: inline;
}
[_moz-math-font-style="italic"] {
    font-style: italic;
    font-weight: normal;
}
[_moz-math-font-style="normal"] {
    font-style: normal;
}
[_moz-math-font-style="invariant"] {
    font-style: normal;
    font-weight: normal;
}
:-moz-any-link {
    text-decoration: none !important;
}
[fontstyle="normal"] {
    font-style: normal;
}
[fontstyle="italic"] {
    font-style: italic;
}
[fontweight="normal"] {
    font-weight: normal;
}
[fontweight="bold"] {
    font-weight: bold;
}
[mathvariant] {
    font-family: MathJax_Main,STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
[mathvariant="bold-fraktur"] {
    font-family: MathJax_Fraktur,STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
    font-weight: bold;
}
[mathvariant="bold-script"] {
    font-family: MathJax_Script,STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
    font-weight: bold;
}
[mathvariant="bold"] {
    font-weight: bold;
}
[mathvariant="italic"] {
    font-style: italic;
}
[mathvariant="bold-italic"] {
    font-style: italic;
    font-weight: bold;
}
[mathvariant="sans-serif"] {
    font-family: MathJax_SansSerif,sans-serif;
    font-style: normal;
}
[mathvariant="bold-sans-serif"] {
    font-family: MathJax_SansSerif,sans-serif;
    font-weight: bold;
}
[mathvariant="sans-serif-italic"] {
    font-family: MathJax_SansSerif,sans-serif;
    font-style: italic;
}
[mathvariant="sans-serif-bold-italic"] {
    font-family: MathJax_SansSerif,sans-serif;
    font-style: italic;
    font-weight: bold;
}
[mathvariant="monospace"] {
    font-family: MathJax_Typewriter,monospace;
}
[mathvariant="double-struck"] {
    font-family: MathJax_AMS,STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
}
[mathvariant="script"] {
    font-family: MathJax_Script,STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
}
[mathvariant="fraktur"] {
    font-family: MathJax_Fraktur,STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
}
ms {
    display: inline;
}
ms:before, ms:after {
    content: "\"";
}
ms[lquote]:before {
    content: attr(lquote);
}
ms[rquote]:after {
    content: attr(rquote);
}
merror {
    background-color: lightyellow;
    border-color: red;
    border-style: inset;
    border-width: thin;
    display: block;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin: 1em;
    padding: 1em;
    white-space: pre;
}
mtable {
    border-collapse: separate;
    border-spacing: 0;
    display: inline-table;
    text-indent: 0;
}
mtable[frame="none"] {
    border: medium none;
}
mtable[frame="solid"] {
    border: thin solid;
}
mtable[frame="dashed"] {
    border: thin dashed;
}
mtr, mlabeledtr {
    display: table-row;
    vertical-align: baseline;
}
mtd {
    display: table-cell;
    text-align: -moz-center;
    vertical-align: inherit;
    white-space: nowrap;
}
:not(mtable) > mtr, *:not(mtable) > mlabeledtr, *:not(mtr):not(mlabeledtr) > mtd {
    display: none !important;
}
mlabeledtr > mtd:first-child {
    display: none;
}
mtd[_moz-math-columnalign="left"], mtd[columnalign="left"] {
    text-align: left;
}
mtd[_moz-math-columnalign="right"], mtd[columnalign="right"] {
    text-align: right;
}
mtd[_moz-math-columnalign="center"], mtd[columnalign="center"] {
    text-align: -moz-center;
}
mtr[_moz-math-rowalign="top"], mtr[rowalign="top"], mtd[rowalign="top"] {
    vertical-align: top;
}
mtr[_moz-math-rowalign="bottom"], mtr[rowalign="bottom"], mtd[rowalign="bottom"] {
    vertical-align: bottom;
}
mtr[_moz-math-rowalign="center"], mtr[rowalign="center"], mtd[rowalign="center"] {
    vertical-align: middle;
}
mtr[_moz-math-rowalign="baseline"], mtr[rowalign="baseline"], mtd[rowalign="baseline"] {
    vertical-align: baseline;
}
mtd {
    padding: 0.5ex 0.4em;
}
mtr:first-child > mtd {
    padding-top: 0;
}
mtr:last-child > mtd {
    padding-bottom: 0;
}
mtd:first-child {
    padding-left: 0;
}
mtd:last-child {
    padding-right: 0;
}
mtable[frame="solid"] > mtr:first-child > mtd, mtable[frame="dashed"] > mtr:first-child > mtd {
    padding-top: 0.5ex;
}
mtable[frame="solid"] > mtr:last-child > mtd, mtable[frame="dashed"] > mtr:last-child > mtd {
    padding-bottom: 0.5ex;
}
mtable[frame="solid"] > mtr > mtd:first-child, mtable[frame="dashed"] > mtr > mtd:first-child {
    padding-left: 0.4em;
}
mtable[frame="solid"] > mtr > mtd:last-child, mtable[frame="dashed"] > mtr > mtd:last-child {
    padding-right: 0.4em;
}
mtr[_moz-math-rowline="none"] > mtd {
    border-top: medium none;
}
mtr[_moz-math-rowline="solid"] > mtd {
    border-top: thin solid;
}
mtr[_moz-math-rowline="dashed"] > mtd {
    border-top: thin dashed;
}
mtd[_moz-math-columnline="none"] {
    border-left: medium none;
}
mtd[_moz-math-columnline="solid"] {
    border-left: thin solid;
}
mtd[_moz-math-columnline="dashed"] {
    border-left: thin dashed;
}
*::-moz-math-stretchy {
    font-family: serif;
    font-style: normal;
}
semantics > *:not(:first-child) {
    display: none;
}
*|*::-moz-mathml-anonymous-block {
    display: inline-block !important;
    position: static !important;
    text-indent: 0;
}
:-moz-math-increment-script-level {
    -moz-script-level: 1;
}
mroot > *:not(:first-child) {
    -moz-script-level: 2;
}
msub > *:not(:first-child), msup > *:not(:first-child), msubsup > *:not(:first-child), mmultiscripts > *:not(:first-child) {
    -moz-script-level: 1;
}
